<div class="d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to bottom, #b0b0b0, #053669);">
  <div class="card p-4 shadow-lg" style="width: 350px;">
    <h3 class="text-center mb-3">Inscription</h3>
    <form (ngSubmit)="register(email, password, confirmPassword)">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input type="email" class="form-control form-control-sm" id="email" #email placeholder="Entrer votre email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control form-control-sm" id="password" #password placeholder="Mot de passe" required>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
        <input type="password" class="form-control form-control-sm" id="confirmPassword" #confirmPassword placeholder="Confirmer le mot de passe" required>
      </div>
      <button type="button" class="btn w-100 text-white"
      style="background-color: #053669; border-color: #053669;"
      (click)="register(email, password, confirmPassword)">
      S'inscrire
    </button>
    </form>

    <!-- Lien vers login -->
    <div class="text-center mt-3">
      <p class="mb-0">Vous avez déjà un compte ?</p>
      <a href="http://localhost:4200/login" class="text-primary">Se connecter </a> 
    </div>
  </div>
</div>
